<%= layout("layouts/boilerplate.ejs") %>

<div class="chat-container">
  <div class="chat-box" id="messages"></div>
  <form id="form" class="message-form">
    <input
      id="message-input"
      autocomplete="off"
      placeholder="Type your message..."
    />
    <button>Send</button>
  </form>
</div>
<script>
  window.username = "<%= user.username %>"; // Pass the username to the client-side script
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/script.js"></script>
